html,
body {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin: 0%;
    box-sizing: border-box;
    height: 100%;
    background-color: #dbe9dc;
}

@font-face {
    font-family: 'zt-shago';
    src: url('zt-shago.woff')
}

h1 {
    font-size: 2.5em;
    font-family: 'zt-shago';
    padding: 10px 10px 10px 50px;
    margin-top: 40px;
}

h2 {
    font-size: 1.5em;
    font-family: 'zt-shago';
    background-color: #435b4e;
    color: #dbe9dc;
    border-radius: 0 2em 2em 0;
    width: 350px;
    padding: 10px 50px 10px 50px;
    margin-top: 5%;
}

p {
    font-size: 1em;
    font-weight: 600;
    font-family: "houschka-rounded";
    padding-left: 5%;
    padding-right: 5%;
}

a {
    color: inherit;
}

#overview a:hover {
    background-color: #435b4e;
    color: #dbe9dc;
}


#overview {
    display: flex;
    flex-direction: row;
    background-color: #dbe9dc;
    width: 100%;
    padding-bottom: 75px;
}

#overview h1 {
    color: #435b4e;
}

#overview p {
    color: #3c3c3c;
}

.flexbox {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

}

.image {
    display: flex;
    max-width: 50%;
    height: 100%;
    flex: 1;
   justify-content: center;
}

.image img { 
    padding:  2%;
    max-width: 100%;
    object-fit: contain;
    border-radius: 4em;

}



.info {
    flex: 1;


}

ul {
    font-size: 1em;
    font-weight: 600;
    font-family: "houschka-rounded";
    color: #3c3c3c
}

.category {
    display: flex;
    flex-direction: row;
}

.col.one {
    flex-grow: 1;
}

.col.two {
    flex-grow: 1;
}

#process {
    display: flex;
    flex-direction: row;
    background-color: #435b4e;
    width: 100%;
    padding-bottom: 5em;
}

#process h1 {
    color: #dbe9dc;
}

#process p {
    color: #dbe9dc;
}

table, table li {
    width: 100%;
    padding: 2em;
    font-size: 1em;
    font-weight: 600;
    font-family: "houschka-rounded";
    color: #dbe9dc;
    table-layout: fixed;
    border-spacing: 2em;


}

td img {
    width: 100%;
    height: auto;
    display: contain;
    border-radius: 2em;

}
td {
    max-height: 90%;
}

th {
    font-family: "zt-shago";
}
