html,
body {
  padding: 0em;
  margin: 0em;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-color: #dbe9dc;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
/* --------------------------- main containers --------------------------- */

#intro {
  padding: 5px;
  text-align: center;
  background-color: #dbe9dc;
  width: 100%;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

#about {
  width: 100%;
  height: 100%;
  border-radius: 0 150px 0 0;
  background-color: #435b4e;
  color: #dbe9dc;
}

#role-comparison {
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: white;
}

.container-fluid {
  height: 100vh;
}

/* --------------------------- general fonts and behaviour --------------------------- */

/* importing fonts */

@font-face {
  font-family: 'super-carbon';
  src: url('super-carbon.woff')
}

h3 {
  font-size: 1.5rem;
  font-weight: light;
 }
 
a {
  text-decoration: none;
  color: #435b4e;
  font-weight: bold;
  margin: 25px;
  margin-bottom: 40px;
}

h1 {
  font-size: 3rem;;
}

.scroll-snapping {
  scroll-snap-stop: always;
  scroll-snap-align: start;
}

/* --------------------------- navigation --------------------------- */

.nav-panel {
  top: 3%;
  width: 20%;
  min-width: fit-content;
  height: 5%;
  left: 50%;
  transform: translateX(-50%);
  color: #435b4e;
  position: fixed;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 50px 50px 50px 50px;
  text-align: center;

  /* glass effect */
  filter: drop-shadow(2px 4px 6px rgb(64, 73, 68));
  background-color: rgba(255, 255, 255, 0.4); /* Just adjust the color or opacity to make the text pop! */
  box-shadow: inset 0 0 0 100px rgba(255, 255, 255, 0.625);

  /* add box shadow, hover effects and transition */
  
}

/* --------------------------- landing page --------------------------- */

.text {
  padding: 15%;
  font-size: 1rem;
}

.name {
  padding-bottom: 3%;
  font-size: 5rem;
}

.typing {
  font-size: 2rem;
}

.contacts {
  margin-top: 5%;
  margin-bottom: 5%;
}

.other-name {
  font-size: 1.5rem;
  padding-bottom: 2%;
}

.typed-cursor {
  font-size: 44px; /* Adjust the size as needed */
  opacity: 1;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* --------------------------- about page --------------------------- */

h1.about-me {
  padding: 1.5%;
}

a.about-me {
  color: #dbe9dc;
}

/* --------------------------- designer / developer comparison --------------------------- */


.ba-slider {
  position: relative;
  overflow: hidden;
  margin: 2em;
  height: 100%;
  
}

.frame {
  height: 100%;
}

.resize {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  overflow: hidden;
  background-color: white;
}

/* ----- table styling ----- */

.designer,
.developer {
  padding-left: 2%;
  padding-right: 2%;
}

.designer {
  background-color: #dbe9dc;
  color: #435b4e;
  
  border-radius: none !important;
}

.developer {
  background-color: #435b4e;
  color: #dbe9dc;
}

th, td  {
  border: none !important;
}

thead,
tbody {
  width: 16%;
  text-align: left;
  font-size: 16pt;
}

.table {
  table-layout: fixed;
  width: 100%;
  border-spacing: 0px;
}

.table td:nth-child(3),
.table th:nth-child(3),
.table td:nth-child(4),
.table th:nth-child(4) {
  padding-left: 40px; /* Adjust the padding as needed */
}

/* ----- slider styling ----- */

.handle {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 20px;
  margin-left: -10px;
  background: rgba(255, 255, 255);
  cursor: ew-resize;
}

.handle:after {
  z-index: 99;
  position: absolute;
  top: 50%;
  width: 32px;
  height: 32px;
  margin: -18px 0 0 -8px;
  content: '\21d4';
  color: white;
  font-weight: bold;
  font-size: 26px;
  text-align: center;
  line-height: 32px;
  background: #184d27;
  border: 1px solid #298f48;
  border-radius: 50%;
  transition: all 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3), inset 0 2px 0 rgba(255, 255, 255, 0.5),
    inset 0 60px 50px -30px #66ff8c;
}

.draggable:after {
  width: 48px;
  height: 48px;
  margin: -24px 0 0 -16px;
  line-height: 48px;
  font-size: 30px;
}

.slider-text {
  writing-mode: vertical-rl;
  text-orientation: upright;
  color: rgb(0, 0, 0);
  font-size: 16pt;
}

