/* -------------------- FONT IMPORTS --------------------- */

@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
  
@font-face {
    font-family: 'Telma';
    src: url('Telma-Medium.woff')
  }
  
@font-face {
    font-family: 'Array';
    src: url('Array-Regular.woff')
  }
  
@font-face {
    font-family: 'Hi';
    src: url('HiRegular-Mmrw.woff')
  }
  @font-face {
    font-family: 'DigitalDistortion';
    src: url('DigitalDistortion-BZ7x.woff')
  }

/* -------------------- SITE DESGIN --------------------- */

html,
body {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin: 0%;
    box-sizing: border-box;
    max-width: 100vw;
    height: 100%;
    background-color: #4B4B4B;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.coverblue {
    background-color: #3F5D7B;
}

.coverorange {
    background-color: #E97551;
}

.coveryellow {
    background-color: #DAB263;
}

.covergrey {
    background-color: #4B4B4B;
}

/* -------------------- TAB DESGIN --------------------- */

.tab {
    margin-top: -60px; /* Adjust this value as needed for more or less overlap */
    margin-bottom: 0;
    border-radius: 5px 5px 0 0;
    padding: 30px 10px 0 10px;
    position: relative;
    z-index: 1;
}

/* ----- TAB ALLIGNMENT ----- */

.tab.left {
    margin-left: 5%;
}

.tab.middle {
    margin-right: auto;
    margin-left: auto;
}

.tab.right {
    margin-right: 5%;
    margin-left: auto;
}

/* ----- TAB COLOURS ----- */

.tab.orange {
    background-color: #E97551;

}

.tab.yellow {
    background-color: #DAB263;
}

.tab.blue {
    background-color: #3F5D7B;
}

/* -------------------- FOLDER DESGIN --------------------- */
.spacer {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 15% 5% 15% 0;
}

.foldersmall.inner {
    background-color: #FAF0D8;
    padding: 5% 0 5% 0;
    border-radius: 8px;
}

.folder.inner {
    background-color: #FAF0D8;
    padding: 5% 0 5% 0;
    border-radius: 8px;
}




/* ----- FOLDER COLOURS ----- */

.foldersmall.orange {
    background-color: #E97551;
    padding: 2%;
    margin: 0 5% 0 5%;
    width: 85%;
    height: 100%;
}

.folder.orange {
    background-color: #E97551;
    padding: 2%;
}

.folder.yellow {
    background-color: #DAB263;
    padding: 2%;
}

.folder.blue {
    background-color: #3F5D7B;
    padding: 2%;
}

.folder.gradient {
    background: linear-gradient(
        to bottom,

        #E97551 0%, /* Orange starts */
        #E97551 33.33%, /* Orange ends */
        #3F5D7B 33.33%, /* Blue section */
        #3F5D7B 66.66%, /* Blue ends */
        #DAB263 66.66%, /* Yellow starts */
        #DAB263 100% /* Yellow ends */
    );
    padding: 2%;
}

/* ----- FOLDER ALLIGNMENTS ----- */

.foldersmall.left {
    border-radius: 0 8px 8px 8px;
}

.folder.left {
    border-radius: 0 8px 8px 8px;
}

.folder.middle {
    border-radius: 8px;
}

.folder.right {
    border-radius: 8px 0 8px 8px;
}


/* -------------------- TEXT DESGIN --------------------- */



/* ----- TEXT STYLING ----- */

p {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 15px;
}

.yeardivider {
    margin: auto 0 auto 5%;
    background-color: #4B4B4B;

}

h1.yearnormal {
    font-family: "Array";
    font-weight: 50;
    font-size: 200px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
}

h1.yearbroken {
    font-family: "Array";
    font-weight: 50;
    font-size: 200px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    line-height: 40px;
    color: white;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 200px;
}

h2.telma {
    font-family: "Telma";
    font-size: 300px;
}

h2.array {
    font-family: "Array";
    font-size: 300px;
    font-weight: 50;
}

h2.hi {
    font-family: "Hi";
    font-size: 300px;

}

h2.centrefont {
    padding-left: 150px;
}

.tab p {
    margin: auto 0 auto 5%;
    font-family: "Array";
    font-weight: 50;
    font-size: 50px;
    text-align: center;
}

.normal p {
    margin: 0;
    padding: 0;
}

.textleft {
    margin-right: auto;
    margin-left: 5%;
    flex-wrap: wrap;
}

.textmiddle {
    margin-right: auto;
    margin-left: 38.33%;
    flex-wrap: wrap;
}

.textright {
    margin-right: 5%;
    margin-left: auto;
    flex-wrap: wrap;
}

.date.textright {
    text-align: right;
}

h5 {
    font-family: "Space Mono", monospace;
    font-size: 30px;
}

h5.date.datelarge {
    font-weight: 1200px;
    
}

h5.textlarge {

    font-weight: 400px;
}

.titletext {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.headertext {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 89.99%;;
}

.date {
    width: 89.99%;
}

.textbroken {
    font-family: "Space Mono", monospace;
    font-weight: 800;
    font-style: normal;
    font-size: 24px;
    text-align: left;
    color: #E97551;
    margin-top: 50px;
    margin-bottom: 100px;
}

.whisper1 {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    text-align: center;
}
.whisper2 {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    opacity: 0.5;
    line-height: 50px;
    margin-top:-40px;
    text-align: center;
}
.whisper3 {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    margin-top:-60px;
    
    line-height: 30px;
    text-align: center;
}

.machine {
    font-family: "DigitalDistortion";
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-top: -400px;
    line-height: 90px;
    letter-spacing: 40px;
    text-align: center;
}


/* ----- TEXT LAYOUTS ----- */

.width25 {
    width: 25%;
}

.width30 {
    width: 30%;
}

.width33 {
    margin-top: 100px;
    width: 33.33%;
}

.width60 {
    width: 60%;
}

.width66 {
    margin-top: 100px;
    width: 56.66%;
}

.width99 {
    margin-top: 100px;
    width: 89.99%;
}

.width100 {
    width: 98%;
    padding-left: 2%;
}


/* -------------------- RANDOM DESGIN --------------------- */

.random.a {
    display: flex;
}

.random.b {
    display: none;
}
.random.c {
    display: none;
}
.random.d {
    display: flex;
}

.random.e {
    display: none;
}
.random.f {
    display: none;
}
.random.g {
    display: flex;
}
.random.h {
    display: none;
}
.random.i {
    display: none;
}
.random.j {
    display: flex;
}
.random.k {
    display: none;
}
.random.l {
    display: none;
}
.random.m {
    display: flex;
}
.random.n {
    display: none;
}
.random.o {
    display: none;
}.random.p {
    display: flex;
}
.random.q {
    display: none;
}
.random.r {
    display: none;
}

/* -------------------- BUTTON DESGIN --------------------- */

.newRunButton {
    justify-content: center;
    text-align: center;
    background-color: #3F5D7B;
    max-width: 33%;
    margin: 100px auto 100px auto;
    border-radius: 8px;
}

button {
    background-color: #3F5D7B;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    font-family: "DigitalDistortion";
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
  }






