/* -------------------- FONT IMPORTS --------------------- */

@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
  
@font-face {
    font-family: 'Telma';
    src: url('Telma-Medium.woff')
  }
  
@font-face {
    font-family: 'Array';
    src: url('Array-Regular.woff')
  }
  
@font-face {
    font-family: 'Hi';
    src: url('HiRegular-Mmrw.woff')
  }

/* -------------------- SITE DESGIN --------------------- */

html,
body {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin: 0%;
    box-sizing: border-box;
    height: 100%;
    background-color: #4B4B4B;
    scroll-behavior: smooth;
}

.coverblue {
    background-color: #3F5D7B;
}

.coverorange {
    background-color: #E97551;
}

.coveryellow {
    background-color: #DAB263;
}

.covergrey {
    background-color: #4B4B4B;
}

/* -------------------- TAB DESGIN --------------------- */

.tab {
    margin-top: -60px; /* Adjust this value as needed for more or less overlap */
    margin-bottom: 0;
    border-radius: 5px 5px 0 0;
    padding: 30px 10px 0 10px;
    position: relative;
    z-index: 1;
}

/* ----- TAB ALLIGNMENT ----- */

.tab.left {
    margin-left: 5%;
}

.tab.middle {
    margin-right: auto;
    margin-left: auto;
}

.tab.right {
    margin-right: 5%;
    margin-left: auto;
}

/* ----- TAB COLOURS ----- */

.tab.orange {
    background-color: #E97551;

}

.tab.yellow {
    background-color: #DAB263;
}

.tab.blue {
    background-color: #3F5D7B;
}

/* -------------------- FOLDER DESGIN --------------------- */
.spacer {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 15% 5% 15% 0;
}

.foldersmall.inner {
    background-color: #FAF0D8;
    padding: 5% 0 5% 0;
    border-radius: 8px;
}

.folder.inner {
    background-color: #FAF0D8;
    padding: 5% 0 5% 0;
    border-radius: 8px;
}




/* ----- FOLDER COLOURS ----- */

.foldersmall.orange {
    background-color: #E97551;
    padding: 2%;
    margin: 0 5% 0 5%;
    width: 85%;
    height: 100%;
}

.folder.orange {
    background-color: #E97551;
    padding: 2%;
}

.folder.yellow {
    background-color: #DAB263;
    padding: 2%;
}

.folder.blue {
    background-color: #3F5D7B;
    padding: 2%;
}



/* ----- FOLDER ALLIGNMENTS ----- */

.foldersmall.left {
    border-radius: 0 8px 8px 8px;
}

.folder.left {
    border-radius: 0 8px 8px 8px;
}

.folder.middle {
    border-radius: 8px;
}

.folder.right {
    border-radius: 8px 0 8px 8px;
}


/* -------------------- TEXT DESGIN --------------------- */



/* ----- TEXT STYLING ----- */

p {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 15px;
}

.yeardivider {
    margin: auto 0 auto 5%;
    background-color: #4B4B4B;

}

h1.yearnormal {
    font-family: "Array";
    font-weight: 50;
    font-size: 200px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 200px;
}

h2.telma {
    font-family: "Telma";
    font-size: 300px;
}

h2.array {
    font-family: "Array";
    font-size: 300px;
    font-weight: 50;
    padding-left: 150px;
}

h2.hi {
    font-family: "Hi";
    font-size: 300px;

}

.tab p {
    margin: auto 0 auto 5%;
    font-family: "Array";
    font-weight: 50;
    font-size: 50px;
    text-align: center;
}

.normal p {
    margin: 0;
    padding: 0;
}

.textleft {
    margin-right: auto;
    margin-left: 5%;
    flex-wrap: wrap;
}

.textmiddle {
    margin-right: auto;
    margin-left: 38.33%;
    flex-wrap: wrap;
}

.textright {
    margin-right: 5%;
    margin-left: auto;
    flex-wrap: wrap;
}

.titletext {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.headertext {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 89.99%;;
}

.date {
    width: 89.99%;
}

/* ----- TEXT LAYOUTS ----- */

.width30 {
    width: 30%;
}

.width33 {
    margin-top: 100px;
    width: 33.33%;
}

.width60 {
    width: 60%;
}

.width66 {
    margin-top: 100px;
    width: 56.66%;
}



.width99 {
    margin-top: 100px;
    width: 89.99%;
}



/* -------------------- RANDOM DESGIN --------------------- */

.random.a {
    display: none;
}

.random.b {
    display: flex;
}
.random.c {
    display: none;
}
.random.x {
    display: none;
}

.random.y {
    display: flex;
}
.random.z {
    display: none;
}
.random.one {
    display: none;
}

.random.two {
    display: flex;
}
.random.three {
    display: none;
}

/* -------------------- BUTTON DESGIN --------------------- */

.newRunButton {
    justify-content: center;
    text-align: center;
    background-color: #3F5D7B;
}

button {
    background-color: #3F5D7B;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
  }
