html {
  transform: scale(0.5); 
  transform-origin: 0 0; 
  background: #faf0d8;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}



/* boxes styling */
.layout {
  margin: 5% 0%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.mainbox {
  width: 80%;
  height: 95vh;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
}

.box, .box.arrow {
  overflow: hidden;
  width: 200px;
  height: 200px;

}

.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* size changes for the images
.box.a {
  width: 10%;
  height: 10%;
}
.box.b {
  width: 20%;
  height: 20%;
}
.box.c {
  width: 25%;
  height: 25%;
}*/


/* changes order for the images*/
.box.one, .box.arrow.one {
  order: 1;
}
.box.two, .box.arrow.two {
  order: 2;
}
.box.three, .box.arrow.three {
  order: 3;
}

/* changes orientation for the arrows*/

.box.arrow.x {
  transform: rotate(90deg);
}
.box.arrow.y {
  transform: rotate(180deg);
}
.box.arrow.z {
  transform: rotate(270deg);
}

.random {
  transition: 2s;
}