html, body {
  height: 100%;
  background-color: #1E1E1E;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  overflow-x: hidden; /* Prevent horizontal scroll */
}

/* --------------------------- main containers --------------------------- */

#cover,
#backcover {
  padding-top: 0;
  min-height: 100%;
}

#pages {
  margin: 80px;
  height: 80%;
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Distribute space between children */
  align-items: stretch; /* Ensure all children take full height */
}

/* --------------------------- colours --------------------------- */

.greybackground {
  background-color: #1E1E1E;
}

.imagebackground {
  background-image: url(back-cover.png);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

/* --------------------------- fonts --------------------------- */

/* importing font families */

@font-face {
  font-family: 'walbaumfraktur';
  src: url('dswalbaumfraktur.woff')
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
  font-family: 'walbaumfraktur';
  letter-spacing: 5px;
}

h4 {
  font-size: 1.5em;
  font-family: houschka-rounded, sans-serif;
  font-weight: 300;
}

p {
  font-size: 1.5em;
  font-family: houschka-rounded, sans-serif;
  font-weight: 300;
}

td p {
  font-size: 1em;
}

.backtitle {
  padding: 2% 25%;
  font-size: 4rem;
  font-family: 'walbaumfraktur';
}

.antiquewhite {
  color: antiquewhite;
}

/* --------------------------- layout --------------------------- */

.center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flexcolumn {
  display: flex;
  flex-direction: column;
}

.flexrow {
  display: flex;
  flex-direction: row;
}

/* --------------------------- cover --------------------------- */

.title {
  font-size: 8rem;
  font-weight: 500;
  padding-bottom: 2.5%;
  margin: 0 200px 0 200px;
  font-family: 'walbaumfraktur';
  letter-spacing: 15px;
}

.cover-blurb {
  border-radius: 30px 30px;
  margin: 0 25% 0 25%;
}

/* --------------------------- pages --------------------------- */

.ba-slider {
  display: flex;
  position: relative;
  overflow-y: auto;
  width: 60%; /* Set width for the middle section */
  max-height: 100%;
  justify-content: center;
  outline: solid;
  border-radius: 30px 30px;
  flex-grow: 1; /* Ensure the slider takes up remaining space */
}

.frame-one {
  padding-right: 2em;
}

.resize {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform-origin: center;
  overflow: hidden;
  background-color: #1E1E1E;
}

.side-section {
  width: 20%;
  outline: solid;
  border-radius: 30px 30px;
  flex: 0 0 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  height: 80%;
}

.side-section.right {
  font-family: 'walbaumfraktur';
  letter-spacing: 5px;
  font-size: 1.5em;
}

.side-section.left {
  padding: 0 2em;
  line-height: 1;
}

.side-section.left h2 {
  margin-bottom: 0px;
  margin-top: 5px;
}

/* ----- table styling ----- */

th,
td {
  border: none;
}

thead,
tbody {
  font-size: 1.25em;
  font-weight: 500;
}

.table {
  table-layout: fixed;
  width: 100%;
  border-radius: 2em;
  padding-left: 8em;
  padding-right: 8em;
}

/* ----- slider styling ----- */

.handle {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 89.5%;
  top: 0;
  bottom: 50px;
  text-align: center;
  padding: 40px;
  background: #830707;
  cursor: ew-resize;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% calc(100% - 40px), 0% 100%, 0% 0%);
}

img.journal {
  width: 100%;
  background-size: cover;
  border-radius: 2em;
}

img.journal:hover {
  filter: invert(100%);
}

img.seal {
  height: 150px;
  width: 150px;
  background-size: contain;
  object-fit: cover;
  margin-top: 20%;
  margin-bottom: 5%;
  border-radius: 100%;
}

.seal,
.side-section.left p,
.side-section.right h2,
.journal {
  display: none;
}

.seal.one,
.side-section.left p.one,
.side-section.right h2.one,
.journal.one {
  display: block;
}

.table tr:nth-child(1) {
  text-align: center;
}
