html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}


/* container for the demographic words */

.container {
  display: grid;
  width: 190mm;
  grid-template-areas:
    "side1  main1 rside1";
  grid-template-rows: auto;
  grid-template-columns: 25% 2fr 2fr;
  margin: 30px;
  margin-top: 40px;
  background: #000000;
  padding: 10px;
  overflow: hidden;
}

/* demographics column styling */

.column1 {
  grid-area: side1;
  padding: 10px;
  background: black;
  text-align: center;

}

.col {
  display: inline-block;
  padding: 0px 10px;
  margin-bottom: 17px;
}

.layout {
  display: flex;
  flex-wrap: wrap;
}

.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* size changes for the images on the phone*/
.box.a {
  width: 10%;
  height: 10%;
}
.box.b {
  width: 20%;
  height: 20%;
}
.box.c {
  width: 30%;
  height: 30%;
}
.box.d {
  width: 40%;
  height: 40%;
}

/* changes order for the images on the phone
.box.one {
  order: 1;
}
.box.two {
  order: 2;
}
.box.three {
  order: 3;
}*/

.random {
  transition: 1s;
}