html {
  box-sizing: border-box;
  width: 210mm;
  /* Set HTML width to A4 width */
  height: 297mm;
  /* Set HTML height to A4 height */
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* importing font families*/

@font-face {
  font-family: 'walbaumfraktur';
  src: url('dswalbaumfraktur.woff')
}

@font-face {
  font-family: 'consolamono';
  src: url('consolamono.woff')
}

@font-face {
  font-family: 'consolamonobold';
  src: url('consolamonobold.woff')
}

/* setting up fonts */

body {
  background: #faf0d8;
}

h1 {
  text-align: left;
  font-size: 86pt;
  font-weight: 100;
  letter-spacing: 5pt;
  color: #000000;
  font-family: 'walbaumfraktur';
  margin-top: 5px;
  margin-bottom: 25px;
}

h2 {
  font-size: 12pt;
  text-align: center;
  padding: 10px;
  margin: 0px;
  font-family: 'consolamonobold';
}

h3 {
  animation: animate_text 15s linear infinite;
  font-size: 12pt;
  font-weight: bold;
  font-family: 'consolamonobold';
}

p {
  font-family: 'consolamono';
}

/* header */
.header {
  display: grid;
  width: 210mm;
  grid-template-areas:
    "leftside  rightside";

}

/* title*/

.headerCol1 {
  grid-area: leftside;
  text-align: left;
  padding: 25px 25px 0 25px;

}

/* legend */

.headerCol2 {
  grid-area: rightside;
  padding-top: 80px;
  text-align: right;
  margin-right: 50px;

}

/* colours for the legend */

.name.one {
  background-color: rgb(165, 196, 255);
}

.name.two {
  background-color: rgb(248, 255, 149);
}

.name.three {
  background-color: rgb(252, 161, 164);
}

/* divider styling */

.divider {
  grid-area: divider;
  border: none;
  height: 2px;
  background: #000;
  margin: 0 30px;
}

/* scrolling text bar */

.scrollable {
  margin: 0 30px;
  overflow: hidden;
}

@keyframes animate_text {
  from {
    transform: translate3d(-100%, 0, 0);
  }

  to {
    transform: translate3d(100%, 0, 0);
  }
}

/* container for the demographic words */

.container {
  display: grid;
  width: 190mm;
  grid-template-areas:
    "side1  main1 rside1";
  grid-template-rows: auto;
  grid-template-columns: 25% 2fr 2fr;
  margin: 30px;
  margin-top: 40px;
  background: #000000;
  padding: 10px;
}

/* demographics column styling */

.column1 {
  grid-area: side1;
  padding: 10px;
  background: black;
  text-align: center;

}

.column2 {
  grid-area: main1;
  padding: 10px;
  background: rgb(0, 0, 0);
  text-align: center;

}

.column3 {
  grid-area: rside1;
  padding: 10px;
  background: rgb(0, 0, 0);
  text-align: center;
}

.col {
  display: inline-block;
  padding: 0px 10px;
  margin-bottom: 17px;
}



/* colour changes for the blacked out box */
.col.a,
.col.e,
.col.f,
.col.g,
.col.h,
.col.i,
.col.j,
.col.k {
  background-color: black;
}

.col.b {
  background-color: rgb(252, 161, 164);
}

.col.c {
  background-color: rgb(165, 196, 255);
}

.col.d {
  background-color: rgb(248, 255, 149);
}



.random {
  transition: 1s;
}